---
layout: base.njk
title: frontpage
---

<div class="posts">
  {% for post in collections.all | reverse %} {% if post.data.description %}
  <div class="post">
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p class="description">{{ post.data.description }}</p>
  </div>
  {% endif %} {% endfor %}
</div>

<div id="bookmarks" class="rainbow">
  <b>bookmarks</b>:
  <a href="https://github.com/bijumon">bijumon@github</a>
  <a href="https://github.com/bijumon/bijumon.github.io">{ source-code }</a>
  <a href="https://mastodon.art/@bijumon">bijumon@mastodon.art</a>
  <a href="https://x.com/bijupunalor">biju@x.com</a>
  <a href="https://www.11ty.dev/docs/projects/">Eleventy Guide</a>
  <a href="https://kernel.org/">Kernel Archives</a>
  <a href="https://www.fedoraproject.org/">Fedora Linux</a>
  <a href="https://nobaraproject.org/">Nobara Linux</a>
  <a href="https://www.chezmoi.io/user-guide/command-overview/">chezmoi dotfiles</a>
  <a href="https://starship.rs/presets/">Starship shell prompt</a>
  <a href="https://neovim.io/">Neovim</a>
  <a href="https://www.pygame.org/docs/">pygame</a>
  <a href="https://exercism.org/tracks/python">Exercism</a>
  <a href="https://simonwillison.net/">Simon Willison AI</a>
  <a href="https://www.dwarkesh.com/">Dwarkesh Podcast</a>
  <a href="https://tonsky.me/">tonsky.me</a>
  <a href="https://mariozechner.at/">Mario Zechner</a>
  <a href="https://100r.co/">100 Rabbits</a>
  <a href="https://merveilles.town/@neauoire">@neauoire@merveilles.town</a>
  <a href="https://kokorobot.ca/">Kokorobot</a>
  <a href="https://jvns.ca/">Julia Evans</a>
  <a href="https://samwho.dev/">samwho</a>
  <a href="https://lostgarden.com/blog-archive/">Lostgarden</a>
  <a href="https://cgcookie.com/community">CG Cookie</a>
  <a href="https://itch.io/jam/gmtk-2025">GMTK itch.io</a>
  <a href="https://fly.io/blog/">The Fly Blog</a>
  <a href="https://stratechery.com/">Stratechery</a>
  <a href="https://github.com/bBoxType/FiraSans">Fira Sans font</a>
  <a href="https://www.theguardian.com/news/series/the-long-read">The Guardian long read</a>
  <a href="https://www.theguardian.com/news/series/the-audio-long-read">Audio long read</a>
</div>

<div id="recent">
<b>recently read</b>:
{{"

[benstopics/powerbasilisk: An open-source 64-bit PowerBasic compiler written in Rust targeting LLVM](https://github.com/benstopics/powerbasilisk)
> PowerBasilisk was created by Ben Ward to modernize Wall Street Raider, a massive, decades-old financial simulation, by moving beyond a brittle bridge layer toward a robust 64-bit architecture. This approach aims to preserve the original engine's complex logic while enabling cross-platform support and automated testing to ensure long-term stability.

[Two thought experiments – Surfing Complexity](https://surfingcomplexity.blog/2025/10/04/two-thought-experiments/)

[How I use Obsidian — Steph Ango](https://stephango.com/vault) [discussion @ HN](https://news.ycombinator.com/item?id=47054369)

[What is happening to writing? - by Benjamin Breen](https://resobscura.substack.com/p/what-is-happening-to-writing)

[Thin Is In – Stratechery by Ben Thompson](https://stratechery.com/2026/thin-is-in/)

[Never mind the lit-bros: Infinite Jest is a true classic at 30](https://www.theguardian.com/books/2026/feb/07/never-mind-the-lit-bros-infinite-jest-is-a-true-classic-at-30) - classic? great read though

---

[Programming is Dead](https://hamptonmakes.com/blog/2026/02/06/programming-is-dead.html) - argues programming is no longer a job

[Prompt caching: 10x cheaper LLM tokens, but how? | ngrok blog](https://ngrok.com/blog/prompt-caching/) - visual explainer covering prompt caching, tokenization, embeddings and the transformer architecture

[Why Im not worried about AI job loss - David Oks](https://davidoks.blog/p/why-im-not-worried-about-ai-job-loss) -  rebuttal to **something big is happening**, argues AIs impact on the labor market will be slower and more manageable than predicted

:D [South Park episode inspired by **something big is happening** using Seedance 2](https://x.com/xingsthatmatter/status/2024231905101828348)

[Something Big Is Happening](https://x.com/mattshumer_/status/2021256989876109403) - IMO, hype but stumbles on facts

[FOSDEM 2026 - Events](https://fosdem.org/2026/schedule/events/)

[Introduction to PyTorch | 0byte](https://0byte.io/articles/pytorch_introduction.html) - visual guide to pytorch

[microgpt](https://karpathy.github.io/2026/02/12/microgpt/) - a single file of 200 lines of pure Python with no dependencies that trains and inferences a GPT

[Kanchipuram Saris & Thinking Machines | Alter Magazine](https://altermag.com/articles/kanchipuram-saris-and-thinking-machines) - [discussion @ Hacker News](https://news.ycombinator.com/item?id=46921757) - 
Using computers, cryptography and AI to design Kanchipuran silk sarees, revive an ailing business and combat fakes using cryptography.

[World Models | Ankit Maloo](https://ankitmaloo.com/world-models/) - World Models move beyond mere pattern matching to predicting how interventions change states in the real world. The future of AI lies in learning the causal laws of environments, to simulate consequences

[The CLOSURE companion](https://steveklabnik.com/writing/the-closure-companion/) - the final enigmatic work by the programmer '_why the lucky stiff', postmodern farewell

[_why's complete printer spool as one book](https://www.scribd.com/doc/136875051/why-s-complete-printer-spool-as-one-book)

[Prompting 101: Show, don’t tell](https://www.haskellforall.com/2026/01/prompting-101-show-dont-tell.html) - [discussion @ Lobsters](https://lobste.rs/s/zdwvdw/prompting_101_show_don_t_tell)

" | markdown | safe }}
</div>
