---
layout: base.njk
title: frontpage
---

<div class="posts">
  {% for post in collections.all | reverse %} {% if post.data.description %}
  <div class="post">
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p class="description">{{ post.data.description }}</p>
  </div>
  {% endif %} {% endfor %}
</div>

<div id="bookmarks">
  <b>bookmarks</b>:
  <a href="https://github.com/bijumon">bijumon@github</a>
  <a href="https://github.com/bijumon/bijumon.github.io">{ source-code }</a>
  <a href="https://mastodon.art/@bijumon">bijumon@mastodon.art</a>
  <a href="https://x.com/bijupunalor">biju@x.com</a>
  <a href="https://www.11ty.dev/docs/projects/">Eleventy Guide</a>
  <a href="https://kernel.org/">Kernel Archives</a>
  <a href="https://www.fedoraproject.org/">Fedora Linux</a>
  <a href="https://nobaraproject.org/">Nobara Linux</a>
  <a href="https://www.chezmoi.io/user-guide/command-overview/">chezmoi dotfiles</a>
  <a href="https://starship.rs/presets/">Starship shell prompt</a>
  <a href="https://neovim.io/">Neovim</a>
  <a href="https://www.pygame.org/docs/">pygame</a>
  <a href="https://exercism.org/tracks/python">Exercism</a>
  <a href="https://simonwillison.net/">Simon Willison AI</a>
  <a href="https://www.dwarkesh.com/">Dwarkesh Podcast</a>
  <a href="https://tonsky.me/">tonsky.me</a>
  <a href="https://mariozechner.at/">Mario Zechner</a>
  <a href="https://100r.co/">100 Rabbits</a>
  <a href="https://merveilles.town/@neauoire">@neauoire@merveilles.town</a>
  <a href="https://kokorobot.ca/">Kokorobot</a>
  <a href="https://jvns.ca/">Julia Evans</a>
  <a href="https://samwho.dev/">samwho</a>
  <a href="https://lostgarden.com/blog-archive/">Lostgarden</a>
  <a href="https://cgcookie.com/community">CG Cookie</a>
  <a href="https://itch.io/jam/gmtk-2025">GMTK itch.io</a>
  <a href="https://fly.io/blog/">The Fly Blog</a>
  <a href="https://stratechery.com/">Stratechery</a>
  <a href="https://github.com/bBoxType/FiraSans">Fira Sans font</a>
  <a href="https://www.theguardian.com/news/series/the-long-read">The Guardian long read</a>
  <a href="https://www.theguardian.com/news/series/the-audio-long-read">Audio long read</a>
</div>

<div id="recent">
<b>recently read</b>:
{{"
[Shotcut 25.12 Released With 10-bit Video CPU Pipeline, Linear Color Processing - Phoronix](https://www.phoronix.com/news/Shotcut-25.12-Released)

[39C3: Power Cycles - 39th Chaos Communication Congress Videos](https://media.ccc.de/b/congress/2025) - [discussion@HN](https://news.ycombinator.com/item?id=46464426)

**Video** - [Pluralistic: The Post-American Internet - Cory Doctorow](https://pluralistic.net/2026/01/01/39c3/)

[A post-American, enshittification-resistant internet - Cory Doctorow](https://media.ccc.de/v/39c3-a-post-american-enshittification-resistant-internet)

[Variable Fonts — It Was Never About File Size - media.ccc.de](https://media.ccc.de/v/39c3-variable-fonts-it-was-never-about-file-size) - "A brief history of typographic misbehavior or intended and unintended uses of variable fonts."

[Celestial navigation with very little math - media.ccc.de](https://media.ccc.de/v/39c3-celestial-navigation-with-very-little-math) - "Learn how to find your position using a sextant and a custom slide rule, almost no math required!"

[Persist, resist, stitch - media.ccc.de](https://media.ccc.de/v/39c3-persist-resist-stitch) - "What does knitting have to do with espionage? Can embroidery help your mental health? This talk shows how the skills to create textile art have enabled people to resist and to persist under oppressive regimes for centuries. And it offers ways to keep doing so."

[Current Drone Wars - media.ccc.de](https://media.ccc.de/v/39c3-current-drone-wars)

[Kenji Tanaka LIVE // Insights into my workflow, structure and philosophy - media.ccc.de](https://media.ccc.de/v/39c3-kenji-tanaka-live-insights-into-my-workflow-struct)

[From Silicon to Darude Sand-storm: breaking famous synthesizer DSPs - media.ccc.de](https://media.ccc.de/v/39c3-from-silicon-to-darude-sand-storm-breaking-famous-synthesizer-dsps)

[Lightning Talks - Tag 3 - media.ccc.de](https://media.ccc.de/v/39c3-lightning-talks-tag-3)
  - Graphics Creation with Graphite - How to build a hackable graphics Editor
  - The Modulator: a Custom Controller for Live Music Performance

[Lightning Talks - Tag 2 - media.ccc.de](https://media.ccc.de/v/39c3-lightning-talks-tag-2)
  - Quantum computing myths and reality
  - What's the most secure phone?
  - From word clouds to Word Rain: A new text visualisation technique
  - AI doesn’t have to slop - Introducing an open source alternative to big-tech AI agents

[APT Down and the mystery of the burning data centers - media.ccc.de](https://media.ccc.de/v/39c3-apt-down-and-the-mystery-of-the-burning-data-centers)

[51 Ways to Spell the Image Giraffe: - media.ccc.de](https://media.ccc.de/v/39c3-51-ways-to-spell-the-image-giraffe-the-hidden-politics-of-token-languages-in-generative-ai)

[The art of text (rendering) - media.ccc.de](https://media.ccc.de/v/39c3-the-art-of-text-rendering)

[Xous: A Pure-Rust Rethink of the Embedded Operating System - media.ccc.de](https://media.ccc.de/v/39c3-xous-a-pure-rust-rethink-of-the-embedded-operating-system)

[AI-generated content in Wikipedia - a tale of caution - media.ccc.de](https://media.ccc.de/v/39c3-ai-generated-content-in-wikipedia-a-tale-of-caution)

[Agentic ProbLLMs: Exploiting AI Computer-Use and Coding Agents - media.ccc.de](https://media.ccc.de/v/39c3-agentic-probllms-exploiting-ai-computer-use-and-coding-agents)

[NETFLIX OPEN CONTENT](https://opencontent.netflix.com/) - initiative from Netflix that shares high-quality test and reference media assets under a Creative Commons license

[Nassim Nicholas Taleb - Silba - substack](https://silbadeepdives.substack.com/p/nassim-nicholas-taleb) - about Nassim Nicholas Taleb, his approach to tail risk, notion of antifragility — systems that gain from disorder

" | markdown | safe }}
</div>
