<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">

        <style>{% include "assets/css/index.css" %}</style>
        <style>
		/* Light theme */
		@media (prefers-color-scheme: light) {
			{% include "assets/css/prism-ghcolors.css" %}
		}

		/* Dark theme */
		@media (prefers-color-scheme: dark) {
			{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
		}
		</style>

		<!-- Standard favicon -->
		<link rel="icon" href="/img/favicons/favicon.ico" sizes="any">

		<!-- Modern browsers (crisp on all DPIs) -->
		<link rel="icon" href="/img/favicons/favicon.svg" type="image/svg+xml">

		<!-- Optional PNG fallbacks -->
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32.png">
		<link rel="icon" type="image/png" sizes="128x128" href="/img/favicons/favicon-128.png">

		<!-- High-res Apple touch icon -->
		<link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon-180x180.png">
</head>
<body>
	<div id="container">
		<nav class="navbar">
			<div class="logo">&#8469; {{ site.name }}</div>
			<ul class="nav-links">
				<li><a href="{{ site.url }}">Home</a></li>
				<li><a href="/archives">Archives</a></li>
				<li><a href="/atom.xml">Atom</a> / <a href="/rss.xml">RSS</a></li>
			</ul>
		</nav>
		<main>
			{% block content %}
			{{ content | safe }}
			{% endblock %}
		</main>

		<footer>
			<p>© 2020 - {{ now | date("yyyy") }} {{ site.author }}</p>
		</footer>
	</div>
</body>
</html>
