{%- css %}{% include "assets/css/fonts.css" %}{% endcss %}
{%- css %}{% include "assets/css/reset.css" %}{% endcss %}
{%- css %}{% include "assets/css/variables.css" %}{% endcss %}
{%- css %}{% include "assets/css/base.css" %}{% endcss %}
{%- css %}{% include "assets/css/typography.css" %}{% endcss %}
{%- css %}{% include "assets/css/layout.css" %}{% endcss %}
{%- css %}{% include "assets/css/code.css" %}{% endcss %}
{%- css %}{% include "assets/css/theme.css" %}{% endcss %}

{%- css "light" %}{% include "assets/css/prism-ghcolors.css" %}{% endcss %}

{%- css "dark" %}{% include "assets/css/prism-okaidia.css" %}{% endcss %}
{%- css "dark" %}{% include "assets/css/theme.dark.css" %}{% endcss %}
