{% extends "base.njk" %}
{% block content %}
<article class="posts post">
  <small>
    {{ page.date | date }} &middot; <a href="{{ page.url }}">{{ metadata.url }}{{ page.url }}</a>
  </small>
  <h1>{{ title }}</h1>

  {% if description %}
  <p class="description">{{ description }}</p>
  {% endif %}

  {{ content | safe }}
</article>
{% endblock %}
