
/* FiraGO */

@font-face {
	font-family: "FiraGO";
	src: url("/fonts/FiraGO-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FiraGO";
	src: url("/fonts/FiraGO-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FiraGO";
	src: url("/fonts/FiraGO-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FiraGO";
	src: url("/fonts/FiraGO-Heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FiraGO";
	src: url("/fonts/FiraGO-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Fira Code Variable */

@font-face {
	font-family: "Fira Code VF";
	src: url("/fonts/FiraCode-VF.woff2") format("woff2");
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
}