---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:9 %}
  <article class="post">

    <time datetime="{{ post.date | date_to_xmlschema }}" class="datetime">{{ post.date | date_to_string }}</time>
    <h1 class="title">
      <a class="url" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    {% if post.excerpt %}
      <p>{{ post.excerpt }}</p>
    {% endif %}

    {% include tags_filter.html item=post %}

  </article>
  {% endfor %}

  {{ content }}

</div>
