---
permalink: "/drafts.html"
---

{% assign drafts = site.posts | where_exp: "p", "p.path contains '_drafts'" %}
<div class="posts">
  {% for post in drafts %}
  <article class="post">
    <div class="title"> # 
      <time datetime="{{ post.date | date_to_xmlschema }}" class="datetime">{{ post.date | date_to_string }}</time>
      <a class="url" href="{{ post.url | relative_url }}">permalink</a>
      <p class="post-title">{{ post.title }}</p>
    </div>
    {% if post.show_excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}
    {% include tags_filter.html item=post %}
  </article>
  {% endfor %}
</div>
